@media only screen and (max-width: 600px) {
    body {
        margin-top: 10px;
    }

    section > article > div {
        width: 60px;
    }

    section {
        margin-top: 130px;
    }

    section > article {
        gap: 1.5rem;
    }

    section > p {
        font-size: 15px;
    }

    a {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 380px) {
    section > article > div {
        width: 50px;
    }
}