@media only screen and (max-width: 600px) {
    body {
        margin-top: 10px;
    }

    section {
        margin-top: 20px;
    }

    section > div {
        width: 90%;
    }

    section > div > p {
        font-size: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    a {
        width: 95%;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 380px) {
    section > div > p {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}