body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    background-color: #ffd6dc;
}

p {
    font-size: 40px;
    color: #70a1ff;
}

p > span {
    color: #ff6b81;
}

div {
    width: 350px;
    height: 350px;
}

div > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.surat {
    margin-top: 65px;
    font-size: 20px;
}

.surat > span {
    color: #ff6b81;
}

a {
    margin-top: 15px;
}

a > button {
    width: 330px;
    height: max-content;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    background-color: #70a1ff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 1px rgba(0,0,0,0.15);
}

button > div {
    width: 70px;
    height: 30px;
}

button > div > img {
    width: 100%;
    height: 100%;
}